* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/images/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#teamLeadTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#teamLeadTable th, #teamLeadTable td {
    text-align: left;
    padding: 12px;
}

#teamLeadTable tr {
    border-bottom: 1px solid #ddd;
}

#teamLeadTable tr.header, #teamLeadTable tr:hover {
    background-color: #f1f1f1;
}